#List

In [ ]:
#Contoh List
L1 = [1, 4, 2, 13]

print(type(L1))

<class 'list'>

In [ ]:
L2 = ["a", "Python", 3]
L2

['a', 'Python', 3]

In [ ]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'Python', 3]

##Latihan 1

In [ ]:
A1 = [8, 7, 2, 0]

print(type(L1))

<class 'list'>

In [ ]:
A2 = ["s", "Helo World", 8]
A2

['s', 'Helo World', 8]

In [ ]:
print(A1)
print(A2)

[8, 7, 2, 0]
['s', 'Helo World', 8]

#Sifat - Sifat List

In [ ]:
#Terurut/Ordered
print("Memanggil List L1 dengan indeks berurutan: ", L1[0:3])

#Bisa Diganti/Mutable
L1[1] = 2
print("List L1 setelah diganti elemennya: ", L1)

L1 = [1, "dua", True, 2+3j]

#Dapat Diindeks/Slicing
print("Slicing List L1: ", L1[3])

#Dapat Diijinkan Duplikasi
L1 = [1, "dua", True, 2+3j, 2+3j]
print("Duplikasi pada List L1: ", L1)

Memanggil List L1 dengan indeks berurutan:  [1, 4, 2]
List L1 setelah diganti elemennya:  [1, 2, 2, 13]
Slicing List L1:  (2+3j)
Duplikasi pada List L1:  [1, 'dua', True, (2+3j), (2+3j)]

##Latihan 2

In [ ]:
#Terurut/Ordered
print("Memanggil List A1 dengan indeks berurutan: ", A1[0:3])

#Bisa Diganti/Mutable
A1[3] = 2
print("List A1 setelah diganti elemennya: ", A1)

A1 = [7, "shevi", True, 4+8j]

#Dapat Diindeks/Slicing
print("Slicing List A1: ", A1[3])

#Dapat Diijinkan Duplikasi
A1 = [7, "shevi", True, 4+8j, 4+8j]
print("Duplikasi pada List A1: ", A1)

Memanggil List A1 dengan indeks berurutan:  [8, 7, 2]
List A1 setelah diganti elemennya:  [8, 7, 2, 2]
Slicing List A1:  (4+8j)
Duplikasi pada List A1:  [7, 'shevi', True, (4+8j), (4+8j)]

#Struktur Data Tuple

In [1]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("Ini adalah tuple", T1)

Ini adalah tuple (1, 'dua', True, (1+2j))

In [2]:
#Menampilkan tipe struktur data
type(T1)

tuple

#Latihan 1

In [3]:
A1 = (9, "shevi", True, 8+2j)
print("Ini adalah tuple", A1)
type (A1)

Ini adalah tuple (9, 'shevi', True, (8+2j))

tuple

#Sifat - Sifat Tuple

In [4]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [5]:
#Tidak Bisa Diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [6]:
#Dapat Diindeks/Slicing
print('elemen kedua dari tuple T1 adalah: ', T1[1])

elemen kedua dari tuple T1 adalah:  dua

In [7]:
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [8]:
#Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

#Latihan 2

In [9]:
#Terurut/Ordered
A1[0:3]

(9, 'shevi', True)

In [10]:
#Tidak Bisa Diganti/Immutable
A1[3] = "Hallo Guys"

TypeError: ignored

In [11]:
#Dapat Diindeks/Slicing
print("elemen kedua dari Tuple A1 adalah: ", A1[1])

elemen kedua dari Tuple A1 adalah:  shevi

In [12]:
#Dapat Diijinkan Duplikasi
A2 = (5, 4.1, False, 4.1)
A2

(5, 4.1, False, 4.1)

In [13]:
#Menggabungkan Tuple
A3 = A1 + A2
A3

(9, 'shevi', True, (8+2j), 5, 4.1, False, 4.1)